.container {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
}

.input {
    width: 45%;
}

.example-section {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.example-margin {
  margin: 0 0.5rem;
}