<mat-card class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-radio-group class="radio">
            <mat-radio-button value="red"><span class="red">Red</span></mat-radio-button>
            <mat-radio-button value="green"><span class="green">Green</span></mat-radio-button>
            <mat-radio-button value="blue"><span class="blue">Blue</span></mat-radio-button>
        </mat-radio-group>
        <p>Title</p>
        <p><b>Price</b></p>
    </mat-card-content>
</mat-card>