@media only screen and (max-width: 768px) {
  .example-card {
    min-width: 20vw;
    margin: 1rem;
    flex-grow: 1;
}
}
.example-card {
  width: 20vw;
  margin: 1rem;
  flex-grow: 1;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
p {
    margin: 1rem;
}

.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}

.radio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mat-radio-button {
  margin: 5px;
}