<nav>
    <app-tol-bar></app-tol-bar>
</nav>
<main>
    <aside>
        <app-categories></app-categories>
        <app-price-selection></app-price-selection>
    </aside>
    <div class="content">
        <div class="product">
            <div *ngFor="let card of cards">
                <app-card [url]="card.url" [title]="card.title" [price]="card.price" [categories]="card.categories"
                    id={{card.id}}>
                </app-card>
            </div>
        </div>
        <div class="pagination">
            <app-paginator></app-paginator>
        </div>
    </div>
</main>