<nav>
    <app-tol-bar></app-tol-bar>
</nav>
<main>
    <aside>
        <app-categories></app-categories>
        <app-price-selection></app-price-selection>
    </aside>
    <div class="content">
        <div class="product">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
        <div class="pagination">
            <app-paginator></app-paginator>
        </div>
    </div>
</main>